<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" value="{{keyword}}" class="form-control" placeholder="輸入餐廳、分類"
            aria-label="Restaurant Name..." value="" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<video class="video media" id="video-selfreliantcharmingdevilfish" alt="你看不到我 GIF" height="358" width="640" autoplay=""
  playsinline="" preload="auto" poster="https://thumbs.gfycat.com/SelfreliantCharmingDevilfish-mobile.jpg" tabindex="-1"
  style="max-width: 640px; margin: 0px auto; display: block;">
  <source src="https://giant.gfycat.com/SelfreliantCharmingDevilfish.mp4" type="video/mp4">
  <source src="https://thumbs.gfycat.com/SelfreliantCharmingDevilfish-mobile.mp4" type="video/mp4">
</video>